@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*{
	font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: seagreen;
	text-align: center;
	border: 2px solid black;
}

h2{
	color: white;
	text-shadow: 1px 1px 1px black;
	text-indent: 50px;
	background-color: seagreen;
	border: 2px solid black;
}

p{
	font-size: 13pt;
	color: white;
	background-color: rgba(0, 50, 0, 0.4);
	text-align: justify;
	text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
}

#p1{
	font-size: 13pt;
	color: white;
	background-color: rgba(0, 0, 0, 0.0);
	text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
}

#p2{
	font-size: 13pt;
	color: white;
	background-color: rgba(0, 50, 0, 0.4);
	text-align: center;
	text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
}

nav{
	font-size: 13pt;
	color: white;
	text-align: justify;
	text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
}

a{
	color: lightgreen;
	text-decoration: none;
}

a:hover{
	color: white;
}