@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

#copy{
	font-size: 15pt;
	color: black;
	text-align: center;
	background-color: whitesmoke;
}

#mkt{
	font-size: 15pt;
	color: black;
	text-align: center;
	background-color: skyblue;
	color: white;
}

h1{
	text-align: center;
	color: skyblue;
	text-shadow: 1px 1px 1px black, 1px 1px 1px black;
	background-color: whitesmoke;
}

p{
	text-align: left;
}

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

#menu-h{
	background-color: rgb(37, 37, 39);
}

#menu-h ul{
	max-width: 800px;
	list-style: none;
	padding: 0;
}

#menu-h ul li{
	display: inline;
}

#menu-h ul li a{
	color: #FFF;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
}

#menu-h ul li a:hover{
	background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a{
	float: right;
	background-color: rgb(24, 139, 233);
}

#title{
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-size: 15pt;
}