@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-size: 15pt;
	color: white;
	text-shadow: 1px 1px 1px red;
	text-align: justify;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

h1{
	text-align: center;
	color: red;
	text-shadow: 1px 1px 1px white;
	padding: 10px;
}

h2{
	text-align: center;
	color: red;
	background-color: white;
	text-shadow: 1px 1px 1px white;
	padding: 10px;
	border-radius: 15px;
}

h3{
	color: white;
	text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
	border-radius: 15px;
	background-color: red;
	padding: 10px;
}
